body {
  margin: 0 auto;
  width: 100%;
  background-color: brown;
  background-color: #49311c;
}

.about-body {
	margin: 0 auto;
  width: 100%;
  background-color: white;
}

.title {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: white;
	padding: 25px;
	text-align: center;
}
/* images form https://wall.alphacoders.com/search.php?search=chocolate&page=2 */

/* fixed nav bar referenced from: http://sixrevisions.com/css/fixed-navigation-bar/; */
nav {
  position: fixed;
  top: 20;
  width: 100%;
  z-index: 9999;
  background-color: brown;
  background-color: #49311c;
  padding: 25px;
  padding-left: 60%;
  padding-bottom: 50px;
}

nav a{
  font-family: 'Josefin Slab',Times,serif;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
}


a:hover {
	color: gray;
	color: #a9a9a9;
}

/* Full Size Photo references: http://stackoverflow.com/questions/25731796/how-to-create-a-full-screen-div-on-landing-page */
.intro {
  height: 80vh;
  width: 100%;
  background: url('../images/landing.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
  padding-top: 150px;
}

.intro2 {
  height: 80vh;
  width: 100%;
  background: url('../images/landing2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
  padding-top: 150px;

}
.about {
  height: 60vh;
  width: 100%;
  background: url('../images/about.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
  padding-top: 150px;
}

.congrats {
  height: 30vh;
  width: 100%;
  background: url('../images/contact.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
  padding-top: 150px;
}

.contact {
  height: 60vh;
  width: 100%;
  background: url('../images/contact.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
}

/* referenced the text over image from https://teamtreehouse.com/community/responsive-image-with-text-overlay */
/* also from http://stackoverflow.com/questions/15649244/responsive-font-size  */

.intro h2, .intro2 h2 {
	position: absolute;
	top: 55%;
	left: 32%;
	font-size: 3.4vw;
	color: white;
	font: Helvetica, Sans-serif;
	background: rgb(0,0,0);
	display: inline;
	background: rgba(0,0,0,0.8);
	padding: 10px;
}

.intro h3 , .intro2 h3  {
	position: absolute;
	top: 70%;
	left: 45%;
	font-size: 3.1vw;
	color: white;
	font: Helvetica, Sans-serif;
	display: inline;
	background: rgba(0,0,0,0.8);
	padding: 10px;
}

.intro a, .intro2 a  {
	text-decoration: none;
	color: white;
}

.intro a:hover, .intro2 a:hover {
	color: white;
}

.intro h3:hover, .intro2 h3:hover {
	background-color: brown;
	background-color: #49311c; 
	color: white;
}

.sub-section {
  margin: auto;
  width: 800px;
  color: white;	
  margin-bottom: 15px;
}

.sub-section h2 {
	color: white;
	text-align: center;
}

.sub-section p {
	text-align: center;
	color: white;
	margin-top: -15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: Times,serif;
}

/** About Us Page**/
.sub2-section {
  margin: 0 auto;
  width: 1000px;
  color: white;	
  padding-left: 5%;
  padding-top: 55px;
  margin-bottom: 100px;
  background-color: white;
}

.sub2-section p {
	color: black;
	margin-top: -15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: 'Josefin Slab',Times,serif;
}

.sub2-section h1{
	padding-bottom: 15px;
	color: brown;
    color: #49311c;
	font-family: 'Lato', serif;
}

.sub2-section h2{
	font-size: 20px;
	color: brown;
    color: #49311c;
	font-family: 'Lato', serif;
}

.white p{
	color: black;
}

.black p {
	color: white;
}

.sub-section img {
	width: 800px;
	display: block;
	margin: 0 auto;
	padding-bottom: 35px;
}

div.img img {
	width: 100%;
	height: auto;
}

.responsive {
	padding: 0 2px;
	float: left;
	width:30%;
	display: inline-block;
}

.white {
	background-color: white;
	width: 100%;
	padding-top: 25px;
}

.white h2 {
	color: black;
}

.black {
	background-color: black;
	width: 100%;
	padding-top: 25px;
}

#gallery {
	width: 100%;
	margin: 0 auto;
	height: 500px;
	text-align: center;
	vertical-align: middle;
}

footer {
	height: 60px;
	padding: 5px;
	width: 100%;
	background-color: brown;
    background-color: #49311c;
    padding-bottom: 50px;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-family: Helvetica, Sans-serif;
}

footer p{
	font-size: 15px;
}

legend {
	font-family: Helvetica, Sans-serif;
	font-size: 20px;
	color: brown;
	color: black;
}

fieldset, form {
	width: 800px;
	margin: 0 auto;
}

fieldset {
	margin-bottom: 25px;
	background-color: brown;
    background-color: #49311c;
}

 .button-section {
	text-align: center;
}

form ul {
	 list-style-type: none;
}


.reg-header {
	padding-top: 25px;
	font-family: Helvetica, Sans-serif;
}

.reg-black {
	padding-top: 80px;
	padding-bottom: 50px;
}

.reg-black {
	color: white;
}

.reg-black h1{
	text-align: center;
}

.reg-black table{
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 110%;
	margin-bottom: 50px;
}

.reg-black td {
	color: #cdc7c5 ;
	border: 1px solid white;
	padding: 5px;
}

.copyright {
	color: gray;
	font-size: 12px;
}

#what_kind {
	text-align: center;
	padding-bottom: 5px;
}

.report {
	padding-top: 10px;
	padding-bottom: -15px;
}

.reg-black img{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
}

.reg-black h2 {
	text-align: center;
}

.holder {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	padding-top: 95px;
	padding-bottom: 55px;
	overflow: hidden;
}

.sidebar-products {
	width: 300px;
	float: left;
}

.main-products {
	width: 900px;
	float: left;
}

.nav-chocolate {
	list-style-type: none;
	color: gray;
	color: #939393;
	font-family: 'Josefin Slab',Times,serif;
	padding-top: 10%;
	padding-left: 20%;
	padding-bottom: 10px;
}

.order-form {
	list-style-type: none;
	color: gray;
	color: #939393;
	font-family: 'Josefin Slab',Times,serif;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.order-form li {
	padding-bottom: 5px;
}

.nav-chocolate li {
	padding-bottom: 15px;
}

.nav-chocolate li:hover{
	color: red;
}



#content {
	padding-top: 20px;
	padding-left: 20px;
}

#content {
	color: gray;
	color: #939393;
	font-family: 'Josefin Slab',Times,serif;
}

.product-header {
	width: 100%;
	text-align: center;
	padding-top: 40px;
	position: relative;
}

.product-header img{
	width: 80%;
}


/** banner-text technique taken from the godiva website **/
.category-banner-text {
	padding: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
}

.category-banner-text h2, p {
	color: gray;
	color: #939393;
	font-style: bold;
	font-size: 30px;
	font-family: 'Lato', serif;
}

#cart-table {
	margin: auto;
	padding-top: 30px;
	border-bottom: rgba(000);
	font-family: font-family: 'Josefin Slab',Times,serif;
	color: gray;
}

#cart-table td {
	padding-left: 8px;
}

.order{
	margin: auto 0;
	text-align: center;
}

.buy {
	margin-bottom: 25px;
}

#price {
	font-size: 12px;
}

.order-confirmation {
	color: black;
}

#message {
	display: inline;
}